.image-wrapper{
    width:100%;
    padding-bottom:100%;
    overflow:hidden;
    position:relative;
    background:#000;
    float:left;
    object-fit: contain;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 150%;
    max-height: 150%
}

.gray {
    background-color: #e9ecef;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}
.center-vertical {
  margin: auto;
}

.border {
    border-color: #e9ecef;
}

.border-btm {
    border-bottom-color: #e9ecef;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    border-bottom: 5px solid darkgray;
    margin-bottom: 0px;
}

.border-right {
    border-right: 3px solid black;
}

.full-height {
    height: 100%;
    min-height: 100%;
}

.margin-right-5px {
    margin-right: 5px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    /* margin-top: 60px; */
}

#body {
    padding-top: 60px;
}

.table-wrapper {
    width: 100%;
    margin-top: 10px;
}

.no-padding {
    padding: 0px;
}

.padding-15 {
    padding: 0px 15px;
}

h4.left {
    padding-top: 20px;
}

.total-wrapper {
    width: 100%;
    padding: 5px 15px;
    text-align: right;
}

.table {
    margin-bottom: 0px;
}

.full-width {
    width: 100% !important;
}

.text-left {
    text-align: left;
}

.sub-title {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid black;
    /* margin: 0px -15px; */
}

.guest {
    width: auto !important;
}

.top-nav {
    padding: 30px 0px;
}

.menu {
    border: 1px solid black;
    margin-top: 20px;
}

.menu img {
    width: 100%;
    height: auto;
}

.fitImage {
     width: 100%;
    height: auto;
}

.menu .caption {
    background-color: lightgray;
    height: 100%;
}

.caption h5 {
    padding: 5px;
    margin: 0px;
    border-top: 1px solid black;
}

.title {
    text-align: center;
    background-color: lightgray;
    padding: 50px;
   
}

#dinner-nav {
    margin-top: 65px;
}

#sidebar {
    height: 100%;
    width: 260px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */

    overflow-x: hidden;
    padding-top: 100px
    /* Disable horizontal scroll */
    /* padding-top: 20px; */
}

tbody tr {
    background-color: #f2f2f2;
}


.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.main-body {
    margin-left: 260px;
    padding-top: 100px;
}


@media (max-width: 767.98px) {
    .main-body {
        margin-top: 40px;
        margin-left: 0px;
        padding-top: 20px;
    }

    .top-nav {
        padding: 10px 0px;
    }

    .title{
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }
    h4 {
        font-size: 18px;
    }

    h5{
        font-size: 17px;
    }
    p{
        font-size: 15px;
    }

}