<div class='d-block d-md-none'>
    <nav id='dinner-nav' class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">My Dinner</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
       aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <form class="form-inline">
          <span class='margin-right-5px'>People </span>
          <select class="guest form-control">
          </select>
        </form>

        <table class="table">
          <thead>
            <tr class='table-active'>
              <th>Dish Name</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody class='menu-table'>
          </tbody>
        </table>

        <div class='total-wrapper'>
          <span class='totalCost'></span>
        </div>

        <div>
          <button type="button" class="btn btn-md btn-warning btn-confirm" disabled="disabled">Confirm Dinner</button>
        </div>

      </div>
    </nav>
  </div>