<div class="col-md-2 center border-right full-height no-padding d-none d-md-block">
  <div class='padding-15'>
    <h4 class="left">My Dinner</h4>
    <div>
      <form class="form-inline">
        <div class="form-group">
          <span class='margin-right-5px'>People </span>
        </div>
        <div class="form-group">
          <select class="guest">
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr class='table-active'>
          <th>Dish Name</t>
          <th>Cost</t>
        </tr>
      </thead>
      <tbody class='menu-table'>
      </tbody>
    </table>
  </div>

  <div class='total-wrapper'>
    <span class='totalCost'></span>
  </div>
  <div class='row'>
    <button type="button" class="btn btn-md btn-warning mx-auto col-10 btn-confirm" disabled="disabled">Confirm Dinner</button>
  </div>
</div>